extends layout

block prepend styles
    link(rel="stylesheet", href="index.css")

block header
    header
        h1 Title

block content
    h1 Title
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis non reiciendis ipsum quis accusantium vitae ullam autem at doloribus dolorum facere quam cum velit consequatur, molestiae earum ducimus sequi est.