doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')

        title= title

        block styles
            link(rel="stylesheet" href="style.css")

    body
        block header
            header Header

        section#content
            block content

        footer Footer
        include scripts